.instagram-embed-container {
  margin: 0 auto;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
}

.instagram-embed-container .instagram-media {
  border-radius: var(--radius-md) !important;
  box-shadow: var(--shadow-md) !important;
}

@media (max-width: 767px) {
  .instagram-embed-container {
    max-width: 100%;
  }
}
